.badge {
	height: 1rem;
	width: 1rem;
	flex-shrink: 0;
	color: var(--text-primary);
}

.badgeLarge {
	height: 1.15rem;
	width: 1.15rem;
	flex-shrink: 0;
	color: var(--text-primary);
}

.badgeBanner {
	height: 1rem;
	width: 1rem;
	flex-shrink: 0;
	color: white;
	filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.9));
}

.partnerBadge {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 1rem;
	width: 1rem;
	flex-shrink: 0;
	border-radius: 50%;
	background-color: var(--brand-primary);
}

.partnerBadgeLarge {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 1.15rem;
	width: 1.15rem;
	flex-shrink: 0;
	border-radius: 50%;
	background-color: var(--brand-primary);
}

.partnerBadgeBanner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 1rem;
	width: 1rem;
	flex-shrink: 0;
	border-radius: 50%;
	background-color: var(--brand-primary);
}

.partnerIcon {
	color: white;
	width: 62.5%;
	height: 62.5%;
}
